@model EmployeeViewModel
@inject IUnitOfWork _unitOfWork

@{
    var departments = new SelectList(_unitOfWork.Repository<DepartmentViewModel>().GetAll(), nameof(DepartmentViewModel.Id), nameof(DepartmentViewModel.Name));
}
<div class
    <label class="col-fo="form-group">rm-label" asp-for="EmpName"></label>
    <input asp-for="EmpName" class="form-control" />
    <span asp-validation-for="EmpName" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label> <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label> <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="HiringDate"></label> <input asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsActive"></label>
    <input asp-for="IsActive" class="form-control-input" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="gender"></label>
    <input asp-for="gender" class="form-control" />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">

    <label class="col-form-label" asp-for="Department"></label>
    <select class="form-control" asp-for="@Model.DepartmentId" asp-items="@departments">

<option value="@null"></option>
</select>




</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Image">
        <input asp-for="Image" class="form-control-file"/>
    </label>

</div>