@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h1>Are You Sure To Delete This Employee ?</h1>
<form asp-action="Delete" method="post">

    <partial name="PartialView/DetailsDeleteView"/>

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>